In [41]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)

In [42]:
df = pd.read_csv('car_prices--2q (1).csv')
df.head()

,Make,Model,Origin,Engine Fuel Type,Horsepower,Cylinders,Invoice,DriveTrain,Number of Doors,Market Category,Type,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [43]:
df.dtypes

Make                 object
Model                object
Origin                int64
Engine Fuel Type     object
Horsepower          float64
Cylinders           float64
Invoice              object
DriveTrain           object
Number of Doors     float64
Market Category      object
Type                 object
Vehicle Style        object
highway MPG           int64
city mpg              int64
Popularity            int64
MSRP                  int64
dtype: object

In [44]:
df = df.drop(['Engine Fuel Type','Market Category','Vehicle Style','Popularity','Number of Doors','Vehicle Style'], axis=1)
df.head(5)

,Make,Model,Origin,Horsepower,Cylinders,Invoice,DriveTrain,Type,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,Compact,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Compact,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Compact,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Compact,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Compact,28,18,34500

In [45]:
df = df.rename(columns={"Engine HP": "HP","Engine Cylinders": "Cylinders","Transmission Type": "Transmission","Driven_Wheels":"Drive Mode","highway MPG":"MPG-H","city mpg":"MPG-C","MSRP":"Price"})
df.head(5)

,Make,Model,Origin,Horsepower,Cylinders,Invoice,DriveTrain,Type,MPG-H,MPG-C,Price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,Compact,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Compact,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Compact,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Compact,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Compact,28,18,34500

In [46]:
df.shape

(11914, 11)

In [47]:
duplicate_rows_df = df[df.duplicated()]
print("Number of duplicate: ", duplicate_rows_df.shape)

Number of duplicate:  (970, 11)

In [48]:
df = df.drop_duplicates()
df.head(5)

,Make,Model,Origin,Horsepower,Cylinders,Invoice,DriveTrain,Type,MPG-H,MPG-C,Price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,Compact,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Compact,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Compact,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Compact,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Compact,28,18,34500

In [49]:
print(df.isnull().sum())

Make           0
Model          0
Origin         0
Horsepower    69
Cylinders     30
Invoice        0
DriveTrain     0
Type           0
MPG-H          0
MPG-C          0
Price          0
dtype: int64

In [50]:
df = df.dropna()
df.shape

(10846, 11)

In [51]:
df.describe()

,Origin,Horsepower,Cylinders,MPG-H,MPG-C,Price
count,10846.000000,10846.000000,10846.000000,10846.000000,10846.000000,1.084600e+04
mean,2010.867324,254.401715,5.692513,26.296607,19.319012,4.242232e+04
std,7.057990,109.808159,1.767321,7.503672,6.641198,6.226295e+04
min,1990.000000,55.000000,0.000000,12.000000,7.000000,2.000000e+03
25%,2007.000000,173.000000,4.000000,22.000000,16.000000,2.190500e+04
50%,2015.000000,240.000000,6.000000,25.000000,18.000000,3.078750e+04
75%,2016.000000,303.000000,6.000000,30.000000,22.000000,4.327750e+04
max,2017.000000,1001.000000,16.000000,354.000000,137.000000,2.065902e+06